*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: rgb(232, 236, 246);
    display: flex;
}
body > nav{
    height: 100vh;
    width: 18vw;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
}
header{
    padding: 20px;
}
header h3{
    margin: 0;
    color: rgb(99, 102, 241);
}
header p{
    font-size: small;
    color: gray;
}
.section-box a {
    margin: 0;
    padding-left: 20px;
    color: gray;
    text-decoration: none;
}
.active{
    background-color: rgb(232, 236, 246);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 5px solid rgb(99, 102, 241);
}
.section-box{
    display: flex;
    padding: 20px 20px 20px 30px;
    transition: 0.3s;
}
.section-box:hover{
    cursor: pointer;
    background-color: rgb(232, 236, 246);
    color: black;
}
.section-box:hover a,.icon{
    color: black;
}

/* =======================================
            section : body 
======================================= */

.body{
    margin-left: 18vw;
    background-color: rgb(245, 248, 255);
    width: 82vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    width: 82vw;
    background-color: white;
    padding: 0px 40px 0px 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.trophy-box{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    width: 5vw;
}
#trophy{
    font-size: xx-large;
    animation: float 2.5s ease-in-out infinite,glow 2.5s ease-in-out infinite;
}
@keyframes float{
    0%,100%{
        transform: scale(1) rotate(0deg);
    }
    33%{
        transform: scale(1.1) rotate(-5deg);
    }
    66%{
        transform: scale(1.1) rotate(5deg);
    }
}
@keyframes glow{
    0%,100%{
        filter: drop-shadow(0 0 0 px,gold);
    }
    50%{
        filter: drop-shadow(0 0 10px gold);
    }
}
.title > h1{
    margin: 10px 0px 0px 0px;
}
.title > p{
    margin: 7px 0px 5px 0px;
    color: gray;
    font-size: small;
}
.start{
    display: flex;
}
/* end */
.end{
    display: flex;
    align-items: center;
    gap: 10px;
}
.participent{
    height: fit-content;
    border-radius: 10px;
    background:#eef5ff;
    border:2px solid #bfd5ff;
    color:#3b6ef5;
    box-shadow:0 6px 18px rgba(80,120,255,.15);
}
.participent > p{
    margin: 0;
    padding: 5px 10px 5px 10px;
    color: blue;
    font-size: small;
    font-weight: bold;
}
#no-players{
    color: black;
}
.top{
    height: fit-content;
    border-radius: 10px;
    background:#fff1c8;
    border:2px solid #f3c341;
    color:#9a5200;
    box-shadow:0 6px 18px rgba(255,193,7,.25);
}
.top p{
    margin: 0;
    padding: 5px 10px 5px 10px;
    font-size: small;
    font-weight: bold;
}
.top span{
    color: black;
    font-weight: bold;
}

/* Top 3 */
.top-list{
    width: 70%;
    background-color: white;
    height: 60%;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.top2{
    background: linear-gradient(
        180deg,
        #e6efff 0%,
        #e6efff 35%,
        #e6efff 65%,
        #d7e0ef 100%
    );
    width: 24%;
    height: 70%;
    border-radius: 20px;
    border: 1px solid #e6efff;
    box-shadow:
    0 12px 30px rgba(195, 145, 92, 0.18),
    inset 0 0 0 1px rgba(255,255,255,0.5);  
    border-radius: 20px;
    margin-top: 13vh;
}
.top1{
    width: 30%;
    height: 80%;
    border-radius: 20px;
    background: linear-gradient(
        180deg,
        #fff8f1 0%,
        #fffaeb 35%,
        #fff1c8 65%,
        #fee7a3 100%
    );
    border: 2px solid #ffe69c;
    box-shadow:
    0 12px 30px rgba(195, 145, 92, 0.18),
    inset 0 0 0 1px rgba(255,255,255,0.5);  
    border-radius: 20px;
    margin-top: 7vh;
}
.top3{
    background-color: #bfd5ff;
    width: 24%;
    height: 70%;
    background: linear-gradient(
        180deg,
        #FBF0E3 0%,
        #F7EBDD 35%,
        #F5E6D5 65%,
        #f4d8b7 100%
    );
    border: 1px solid #E7C29B;
    box-shadow:
    0 12px 30px rgba(195, 145, 92, 0.18),
    inset 0 0 0 1px rgba(255,255,255,0.5);  
    border-radius: 20px;
    margin-top: 13vh;
}
.top1,.top2,.top3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.madel{
    margin: 20px 0px 5px 0px;
    font-size: x-large;
}
.position1{
    margin: 0;
    background-color: goldenrod;
    background: linear-gradient(to bottom,gold 0%,goldenrod 50%,goldenrod 100%);
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-weight: 900;
}
.position2{
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(
    to bottom,
    lightgray 0%,
    gray 50%,
    gray 100%
    );
    color: white;
    font-weight: bold;
}
.profile{
    background-color: rgb(88, 88, 255);
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 100%;
    font-weight: bold;
    font-size: x-large;
    margin: 10px 0px 10px 0px;
}
